
h1 {
	margin: 140px;
	font-size: 65px;	
    text-align: center;
    line-height: 1.25;
    font-family: 'Junge', serif;
	color: white;
	text-shadow: 3px 3px 12px black;
}
.talents {
    font-size: 48px;
    max-width: 800px;
    color: #F08C19;
    margin: -100px auto 40px;
	text-shadow: 3px 3px 4px black;
}

h2 {
	color:white;
	margin: 0 auto;
	padding: 25px;
    text-align: center;
	text-shadow: 3px 3px 14px black;
}

.container {
	background-color: gray;
	width: 75%;
	margin: auto;
	font-size: 20px;
	border-radius: 5px;
}

#names {
	color: 	 #b30000;
	margin-top: 10px;
}

.about{
    text-align: center;
    margin: 0 auto;
	margin-top: -160px;
    padding: 0px 0;
    max-width: 800px;
	color: white
	}

	p {
		margin-top: -40px;
	}

.owl-carousel { 
   height:500px; 
   background-position: center center;
}


body {
    margin-top: 120px;
}


li a {
    display: block;
	color: orange;
	background-color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover, a:focus {
    background-color: #555;
    color: orange;
}

@media only screen and (min-width: 500px) {

}


/* NAV BAR */

 body { 
	font-size: 1.45em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: black;
	color: #555;
}

a {

	color: orange;
	text-decoration: none;
	font-weight: bold;
	border-radius: 10px;
}

a:hover {

	color: #444;
	border-radius: 10px;
}

img {

	width: 100%;

}

header {

	background: black;
	width: 100%;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid orangered;
	z-index: 100;

}

#logo{

	margin: 5px 0 0 15px;
	float: left;
	width: 160px;
	height: 40px;
	background:  no-repeat center;
	display: block;
}

nav {

	float: right;
	padding: 20px;	

}

.menu {
	color: orange;
	background: black;
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: orange url(..img/wlogo.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {
	
	list-style: none;
}

.list {
	background-color: black;
}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: orange;

}

section {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}



p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

	.owl-prev {
		text-align: center;
		color: white;
	}

.owl-next {
	text-align: center;
	color: white;
}

/*MEDIA QUERY*/


@media only screen and (max-width : 1015px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

    @media only screen and (max-width : 1050px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

nav {
    float: left;
}
	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

	h1 {
		font-size: 55px;
	}




@media only screen and (max-width : 1250px) {

	nav{
		float:right;
}

	.talents {
		font-size: 42px;
	}

}
@media only screen and (max-width : 1015px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}
.owl-stage {
	width: 50%;
}
nav {
    float: right;
}
	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

	h1 {
		font-size: 45px;
	}

	.talents {
		font-size: 35px;
	}

h2 {
	font-size: 30px;
}

.list {
	background-color: black;
	max-width: 120px;
}


	@media only screen and (max-width : 700px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}
.owl-stage {
	width: 50%;
}
nav {
    float: right;
}
	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

	h1 {
		font-size: 35px;
	}

	.talents {
		font-size: 30px;
	}


.list {
	background-color: black;
	max-width: 120px;

}